@use "color";
@use "breakpoints";

body {
  font-family: "Lato", "Noto Sans JP", sans-serif;
  color: color.$cl-text;
  &.is-fixed {
    overflow: hidden;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 30px;
  width: 180px;
  margin: 0 auto;

  &__icon {
    width: 24px;
    display: flex;
    align-items: center;
  }

  &__icon-path {
    fill: color.$cl-section-title;
    &--contact {
      fill: color.$bg-dark;
    }
  }

  &__text {
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 0.08em;
    color: color.$cl-text;
  }
}

.header {
  background-color: color.$bg-light;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  &__container {
    position: relative;
  }

  // &__logo {
  //   display: inline-block;
  //   padding: 14px 24px;
  //   font-size: 20px;
  //   color: color.$white;
  // }

  &__menu-button {
    border: none;
    position: absolute;
    top: 12px;
    right: 20px;
    width: 30px;
    height: 36px;
    overflow: hidden;
    color: transparent;
    background: url(../img/bg_menu.png) center no-repeat;
    background-size: 100% auto;

    &.is-checked {
      background: url(../img/bg_menu-close.png) center no-repeat;
      background-size: 100% auto;
    }
  }

  &__contents {
    display: none;
    height: 100vh;
    border-top: solid 1px color.$white;
    padding-top: 60px;
  }

  &__nav-item {
    & + & {
      margin-top: 24px;
    }
  }
}

.fv {
  position: relative;
  &__heading {
    display: flex;
    flex-direction: column;
    &-main {
      font-size: 36px;
      letter-spacing: 0.1em;
    }
    &-sub {
      margin-top: 12px;
      font-size: 14px;
    }
  }
  &__img {
    img {
      width: 100%;
    }
  }
}

// section
.section {
  padding: 48px 0;
  &__inner {
    padding: 0 32px;
  }
  &__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    &--center {
      text-align: center;
    }
  }
  &__head-main {
    font-size: 36px;
    letter-spacing: 0.1rem;
    color: color.$cl-section-title;
  }
  &__head-sub {
    font-size: 12px;
  }
  &__lead-text {
    font-size: 14px;
    line-height: 1.6;
  }
  &__contents {
    margin-top: 40px;
  }
}

// service
.service {
  &__item {
    & + & {
      margin-top: 40px;
    }
  }
  &__item-img {
    text-align: center;
    margin-bottom: 14px;
  }
  &__item-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  &__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// works
.works {
  &__item {
    & + & {
      margin-top: 40px;
    }
  }
  &__item-img {
    margin-bottom: 12px;
    img {
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }
  &__item-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  &__item-link {
    text-decoration: underline;
    font-size: 12px;
  }
}

// about
.about {
  &__img {
    margin-bottom: 32px;
    flex-basis: 80%;
    img {
      border-radius: 50%;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 1.6;
    & + & {
      margin-top: 1em;
    }
  }
}

// flow
.flow {
  &__list {
    margin-top: 64px;
  }
  &__item {
    position: relative;
    border: 1px solid color.$cl-border;
    padding: 46px 16px 24px;
    & + & {
      margin-top: 40px;
    }
  }
  &__item-num {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background-color: color.$cl-border;
    color: color.$white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item-img {
    margin-bottom: 24px;
    text-align: center;
  }
  &__item-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  &__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// message
.message {
  &__img {
    margin-bottom: 32px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// footer
.footer {
  text-align: center;
  padding: 10px;
  &__copy {
    font-size: 11px;
    font-family: "Noto Sans JP", sans-serif;
  }
}

/*--------------------------------
// pc
--------------------------------*/

@include breakpoints.mq(pc) {
  .wrapper {
    display: flex;
  }

  .header {
    position: relative;
    flex-basis: 20%;
    padding: 50px 20px;
    border-right: 1px solid color.$cl-section-title;

    &__container {
      width: 160px;
      margin: 0 auto;
      position: sticky;
      top: 100px;
    }

    &__logo {
      font-size: 25px;
      letter-spacing: 0.12em;
      line-height: 1;
    }

    &__menu-button {
      display: none;
    }

    &__contents {
      display: block;
      border: none;
    }
  }

  .button {
    transition: all 0.3s;

    &:hover {
      background-color: color.$white;

      .button__icon-path {
        fill: color.$bg-dark;
      }

      .button__text {
        color: color.$bg-dark;
      }
    }
  }

  .section {
    &__inner {
      // 32 * 2は両サイドのpadding分
      max-width: calc(880px + 32px * 2);
      margin: 0 auto;
    }

    &__head {
      margin-bottom: 24px;
    }

    &__head-main {
      font-size: 60px;
    }
  }

  .main {
    flex-basis: 80%;
    background-color: color.$bg-light;
  }

  .service {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8%;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }
  }

  .works {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8%;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }
  }

  .about {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      gap: 50px;
    }

    &__img {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
  }

  .flow {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }
  }

  .message {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
    }
  }
}

/*--------------------------------
// tb
--------------------------------*/

@include breakpoints.mq(tb) {
  .fv {
    &__contents {
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  .section {
    &__head-main {
      font-size: 45px;
    }
  }
  .flow {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 16px;
    }
  }
}
